# exclude build time directories
!bin/*.scene
!bin/*.glb
!bin/*.glsl
bin/

obj/

# exclude build files
compile_commands.json
./**Makefile
./**.make
Makefile
*.make

# exclude clangd cache folder
.cache/
